rapi-doc::part(section-main-content) {
 /*background-color: red;*/
}

rapi-doc::part(btn){ border-radius: 5px; }
rapi-doc::part(btn-try) {
  background-color: #ff8000;
  color: #fdfdfd;
}
rapi-doc::part(btn-selected-response-status) {
  background-color: yellow;
  color: #333;
  border-color: yellow;
}