.gf-editor-right-column {
  margin-top: 5rem;
}
.gf-editor-base {
  background-color: #1e1e1e;
  font-family: monospace;
}
.gf-editor {
  height: 100vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  overflow-y: auto;
}
.gf-test-tag {
}
.gf-test-editor {
}
.gf-error {
  padding: 1rem;
  color: #f13232;
}
.gf-stdout {
  padding: 1rem;
}
.gf-result {
  padding: 1rem;
}
.gf-editor::-webkit-scrollbar {
  display: none;
}

.gf-controls {
  margin-top: 1rem;
}
.gf-chatbox {
  background: #f3f3f3;
  font-family: sans-serif;
}

.cm-content {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}